option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    TESTING: false
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.17.1
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    SecurityGroups: sg-[YOUR-SECURITY-GROUP-ID]
  aws:ec2:vpc:
    VPCId: vpc-[YOUR-VPC-ID]
    Subnets: subnet-[YOUR-SUBNET-ID]
    ELBSubnets: subnet-[YOUR-SUBNET-ID]
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    EnvironmentType: LoadBalanced
