Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      AllocatedStorage: 5
      DBInstanceClass: db.t3.micro
      DBName: freshfarmily
      Engine: postgres
      EngineVersion: 13.7
      MasterUsername: "dbadmin"
      MasterUserPassword: "{{resolve:ssm:FRESHFARMILY_DB_PASSWORD:1}}"
      MultiAZ: false
      DeleteOnTermination: false
      Tags:
        - Key: "Name"
          Value: "FreshFarmily Database"

option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: '{"Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Address"]}'
    RDS_PORT: '{"Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Port"]}'
    RDS_DB_NAME: "freshfarmily"
    RDS_USERNAME: "dbadmin"
    RDS_PASSWORD: "{{resolve:ssm:FRESHFARMILY_DB_PASSWORD:1}}"
    JWT_SECRET: "{{resolve:ssm:FRESHFARMILY_JWT_SECRET:1}}"
